{% extends 'layout.html' %} {% block body %}

<form method="POST" class="row">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Edit Post</h1>
    <button class="btn btn-success">Update</button>
  </div>
  {% from 'includes/_formhelpers.html' import render_field %}
  <div class="col-md-4">
    <div class="mb-2">{{render_field(form.title, class="form-control")}}</div>
  </div>

  <div class="col-md-8">
    <div class="mb-2">
      {{render_field(form.content, class="form-control", id="editor")}}
    </div>
  </div>
</form>

{% endblock %}
