{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="col-md-4 offset-md-4">
        <div class="alert alert-{{category}}">
          {{message}}
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if error %}
<div class="col-md-4 offset-md-4">
  <div class="alert alert-danger">
    {{error}}
  </div>
</div>
{% endif %}

{% if msg %}
<div class="col-md-4 offset-md-4">
  <div class="alert alert-success">
    {{msg}}
  </div>
</div>
{% endif %}
