
{% extends 'layout.html' %}

{% block body %}

<div class="d-flex justify-content-between align-items-center mb-4">
	<h1 class="h5">Welcome to your dashboard, <small class="text-capitalize fs-4">{{session.username}}</small></h1>
	<a href="/add_post" class="btn btn-success">Add Post</a>
</div>

<ul class="list-group">
	{% for post in posts %}
	<li class="list-group-item bg-dark text-light d-flex justify-content-between align-items-center">
		<div>
			<h3 class="h5">{{post.title}}</h3>
			<p class="text-muted">Created by {{post.author}} on {{post.created_at}}</p>
		</div>
		<div class="d-flex">
			<a href="/edit_post/{{post.id}}" class="btn btn-secondary">
				<span class="material-icons">
					edit
				</span>
			</a>
			<form action="{{url_for('delete_post', id=post.id)}}" method="POST">
				<input type="hidden" name="_method" value="DELETE">
				<button class="btn btn-danger">
					<span class="material-icons">
						delete
					</span>
				</button>
			</form>
		</div>
	</li>
	{% endfor %}

</ul>

{% endblock %}
