{% extends 'layout.html' %}

{% block body %}

<div class="py-5">
  <h1 class="display-5 fw-bold">Custom jumbotron</h1>
  <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous
    versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>

  {%if session.logged_in == NULL %}
  <a href="/login" class="btn btn-success">Login</a>
  <a href="/register" class="btn btn-secondary">Login</a>
  {%endif%}
</div>

{% endblock %}
